// --> Init fonts
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

// --> Colors
$primary :#ffffff;
$secondary: #c0392b;

// --> Buttons
%medium-btn{
    background-color: rgba(255,255,255,0.08);
    border-radius: 25px;
    letter-spacing: 0.2em;
    padding: 10px 24px;
}

%slider-btn{
    border-radius: 50%;
    margin-top: 20px;
}

// --> Fonts
%big-font{
    font-size: 2em;
}

%medium-font{
    font-size: 1.4em;
}

// --> Animation
@keyframes slide-in{
    0%{
        opacity: 0;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes animOpacity{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appear2{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 0.8;
        transform: translateY(0px);
    }
}

@keyframes barAnim{
    0%{
        width: 0px;
    }
    100%{
        width: 45px;
    }
}

@keyframes barAnimXS{
    0%{
        width: 0px;
    }
    100%{
        width: 30px;
    }
}

@keyframes appearBtn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

h1,h2,h3,h4,h5,h6,ul,li{
    color: $primary;
    font-weight: normal;
}

h1{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @extend %big-font;
}

h2{
    text-transform: uppercase;
    @extend %medium-font;
}

li{ list-style-type: none; }

a{ 
    text-decoration: none;
    color: $primary;
}

#home{
    position: relative;
    overflow: hidden;
    #indicator-slider{
        height: 4px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,12,226,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(78,0,0,1) 25%, rgba(129,0,0,1) 50%, rgba(190,0,0,1) 75%, rgba(255,0,0,1) 100%);
        position: absolute;
        bottom: 0;
        border-radius: 5px;
        z-index: 3000;
    }
}

.active{
    z-index: 500 !important;
    animation: animOpacity 6s ease-in-out;
    visibility: visible !important;
}

.r-active{
    opacity: 0;
    animation: appearBtn 0.8s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    background-color: white;
}

#slider{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        z-index: -100;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

#interface{
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    // background-color: lightblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    header{
        margin-top: 25px;
        nav{
            display: flex;
            justify-content: flex-end;
            ul{
                display: flex;
                margin-right: 15vw;
                position: relative;
                padding: 0;
                li{
                    cursor: pointer;
                    position: relative;
                    @extend %medium-btn;
                    &::after{
                        content: '';
                        pointer-events: none;
                        position: absolute;
                        width: 20%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        border-radius: 25px;
                        background-color: $secondary;
                        transition: all 0.2s ease;
                    }
                    &:last-child{
                        margin-left: 20px;
                    }
                    &:hover{
                        &::after{
                            opacity: 1;
                            width: 100%;
                            height: 100%;
                            transition: all 0.2s ease;
                        }
                    }
                    a{
                        position: relative;
                        z-index: 100;
                    }
                }
            }
        }
    }
    .slider-addon{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .round-btn{
            display: flex;
            flex-direction: column;
            margin-right: 50px;
            .round{
                cursor: pointer;
                display: block;
                width: 11px;
                height: 11px;
                border: 2px solid rgba(255,255,255,0.5);
                border-radius: 50%;
                &:nth-of-type(2){
                    @extend %slider-btn;
                }
                &:nth-of-type(3){
                    @extend %slider-btn;
                }
                &:nth-of-type(4){
                    @extend %slider-btn;
                }
            }
        }
    }
    footer{
        background-color: rgba(0,0,0,0.2);
        padding: 20px;
        display: flex;
        justify-content: center;
        .name{
            text-align: center;
            span{
                display: block;
                h1{
                    opacity: 0;
                    animation: appear 0.4s ease;
                    animation-fill-mode: forwards;
                    animation-delay: 0.6s;
                }
                h2{
                    opacity: 0;
                    animation: appear2 0.4s ease;
                    animation-fill-mode: forwards;
                    animation-delay: 0.8s;
                }
                &:first-child{
                    position: relative;
                    top: 4px;
                }
                &:last-child{
                    position: relative;
                    bottom: 4px;
                    &::before{
                        animation: barAnim 0.4s ease-in-out;
                        animation-delay: 1s;
                        animation-fill-mode: forwards;
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 2px;
                        left: 40px;
                        top: 13px;
                        background-color: $secondary;
                    }
                    &::after{
                        animation: barAnim 0.4s ease-in-out;
                        animation-delay: 1s;
                        animation-fill-mode: forwards;
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 2px;
                        right: 40px;
                        top: 13px;
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #interface{
        header{
            nav{
                justify-content: center;
                margin-top: 20px;
                ul{
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    footer{
        .name{
            span{
                h1{
                    font-size: 1.5em;
                }
                h2{
                    font-size: 1em;
                }
                &:last-child{
                    &::before{
                        top: 9px !important;
                        animation: barAnimXS 0.4s ease !important;
                        animation-fill-mode: forwards !important;
                        animation-delay: 1s !important;
                    }
                    &::after{
                        top: 9px !important;
                        animation: barAnimXS 0.4s ease !important;
                        animation-fill-mode: forwards !important;
                        animation-delay: 1s !important;
                    }
                }
            }
        }
    }
}
